/* .clients__title {
  margin-bottom: 40px;
}

.clients__description {
  margin-bottom: 40px;
  max-width: 780px;
}

.clients__slider-container {
  position: relative;
  height: 400px;
  overflow: hidden;
} */
