/* .service-card {
  min-height: 270px;
  padding: 26px 60px 60px 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  transition: border-color ease-in .2s;
}

.service-card:hover {
  border-color: var(--primary-color);
}

.service-card__item-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.service-card__item-title {
  font-family: var(--f-family-gilroy-extrabold);
  font-size: var(--f-size-20);
  line-height: var(--f-height-18);
  color: var(--color-blue);
  margin-bottom: 20px;
}

.service-card__item-description {
  font-size: var(--f-size-16);
  line-height: var(--f-height-22);
  color: var(--color-blue);
  font-family: var(--f-family-gilroy-medium);
}

@media screen and (max-width: 1279px) {
  .service-card {
    padding: 42px 30px;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .service-card {
    padding: 42px 20px;
  }
} */
